Source: xorg-meta
Section: metapackages
Priority: optional
Maintainer: Dimitry Ishenko <dimitry.ishenko@gmail.com>
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.6.2
Vcs-Browser: https://github.com/dimitry-ishenko-ubuntu/xorg-meta
Vcs-Git: https://github.com/dimitry-ishenko-ubuntu/xorg-meta.git

Package: xorg-meta
Architecture: any
Multi-Arch: foreign
Depends: fonts-jetbrains-mono-nerd, xorg, xserver-xorg-video-fbdev, xserver-xorg-video-intel, xserver-xorg-video-nouveau, xterm
Description: xorg-meta
